* {
    box-sizing: border-box;
  }


#contact_modal {
    display: none;
}

#myLighbox {
    display: none;
}

/* Header  */

.logo1 {
    height: 30px;
    margin-left: 100px;
}

/* Main */

.photograph-header {
    background-color: #FAFAFA;
    height: 250px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photograph-header img {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    color: #D3573C;
    font-size: 27px;
    margin-top: -12px;
}

.photograph-header p {
    color: black;
    margin: 2px;
    font-size: 11px;
    margin-top: 19px;
}

.photograph-header h6 {
    color: #901C1C;
    font-size: 13px;
    margin: 2px;
}

.contact_button {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 145px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 41px;
}

/* Sort */

#divSort {
    margin: 10px 100px 0px 100px;
}

/* Section */

.photograph-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    text-align: center;
    margin: 40px 100px;
}

footer img {
    height: 192px;
    width: 230px;
}

footer video {
height: 192px;
width: 230px;
}

/* InfoBar */

.infobar {
    background-color: #DB8876;
    height: 42px;
    width: 200px;
    display: flex;
    position: fixed;
    top: 967px;
    right: 15px;
    justify-content: space-around;
}

.price_Info {
    margin-left: 12px;
    margin-top: 4px;
}

.nbr_Likes {
    margin-top: 4px;
}

/* Modal */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 35px 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}


.modal header h2 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    color: black;
    margin: 0px;
}

.nameModal {
    font-size: 32px;
    margin: 0px;
}


.close_modal {
    padding: 0px;
    margin: 0px;
    margin-top: -57px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#text {
    height: 130px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

