* {
	box-sizing: border-box;
}

#contact_modal {
	display: none;
}

/* Header  */

#logo1 {
	height: 30px;
	margin-left: 100px;
}

/* Main */

.photograph-header {
	background-color: #FAFAFA;
	height: 250px;
	margin: 0 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.photograph-header img {
	height: 165px;
	width: 165px;
	border-radius: 50%;
	object-fit: cover;
}

.photograph-header h1 {
	color: #D3573C;
	font-size: 35px;
	margin-top: -12px;
	margin-bottom: 7px;
}

#tag_Photograph {
	color: black;
	margin: 2px;
	font-size: 11px;
	margin-top: 19px;
}

#city_Photograph {
	color: #901C1C !important;
	font-size: 13px;
	margin: 2px;
}

.contact_button {
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 125px;
	height: 50px;
	border: none;
	background-color: #901C1C;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 41px;
}

.contact_button:hover {
	background-color: #D3573C;
	color: black;
}

/* Sort Menu */

#sort__menu {
	display: flex;
	margin-left: 100px;
	margin-top: 15px;
	display: flex;
}

.dropdown {
	margin-left: 15px;
	margin-top: -47px;
}

/* Section Photographer */

.photograph-photos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 55px;
	text-align: center;
	margin: 40px 100px;
}

section img {
	height: 192px;
	width: 230px;
}

.photophotograph {
	width: 317px;
	height: 294px;
	object-fit: cover;
}

.title_photo {
	display: flex;
	justify-content: space-between;
	color: #901C1C;
	font-size: 13px;
	margin-right: 65px;
	margin-left: 62px;
}

.title {
	margin-left: -30px;
}

.title_video {
	display: flex;
	justify-content: space-between;
	color: #901C1C;
	font-size: 13px;
	margin-right: 65px;
	margin-left: 62px;
}

.nbr_likes {
	border: none;
	background: white;
	color: #901C1C;
	margin-right: -40px;
}

/* Dropdown Button */

.dropbtn {
	background-color: #901C1C;
	color: white;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
	border: none;
	cursor: pointer;
	margin-top: 56px;
	width: 150px;
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
}

/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
	background-color: #901C1C;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}

.arrow-down {
	font-size: 16px;
	margin-top: 7px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	background-color: rgb(144, 28, 28);
	display: block;
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	width: 154px;
}

#sort-menu {
	display: flex;
}

#sort-popular {
	background-color: rgb(144, 28, 28);
	color: white;
	border-bottom: 2px solid;
	border-top: none;
	padding: 1px;
	margin: 0px 14px 0px 12px;
	border-left: none;
	border-right: none;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	font-size: 13px;

}

#sort-date {
	background-color: rgb(144, 28, 28);
	color: white;
	border-bottom: 2px solid;
	border-top: none;
	padding: 8px;
	margin: 8px;
	border-left: none;
	border-right: none;
	margin: 8px 13px 0px 13px;
	display: flex;
	padding-left: 25px;
	cursor: pointer;
	font-size: 13px;
}

#sort-title {
	background-color: rgb(144, 28, 28);
	color: white;
	border-bottom: transparent;
	border-top: none;
	padding: 8px;
	border-left: none;
	border-right: none;
	margin: 6px 13px 5px 13px;
	display: flex;
	cursor: pointer;
	padding-left: 25px;
	font-size: 13px;
}

/* InfoBar */

.infobar {
	background-color: #DB8876;
	height: 42px;
	width: 285px;
	display: flex;
	position: fixed;
	bottom: 0px;
	right: 15px;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px 5px 0px 0px;
}

.price_Info {
	margin-left: 12px;
}

.nbrTotal_Likes {
	font-size: 16px;
	margin-left: 16px;
}

/* Modal */

.modal {
	border-radius: 5px;
	background-color: #DB8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 35px 35px 35px;
	margin: auto;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}

.modal header img {
	cursor: pointer;
}


.modal header h2 {
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	color: black;
	margin: 0px;
}

.nameModal {
	font-size: 32px;
	margin: 0px;
}


.close_modal {
	padding: 0px;
	margin: 0px;
	margin-top: -57px;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312E2E;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
	margin-bottom: 26px;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}

#text {
	height: 130px;
	width: 100%;
	border: none;
	border-radius: 5px;
}

.contact_send {
	font-size: 14px;
	font-weight: bold;
	color: white;
	width: 115px;
	height: 46px;
	border: none;
	background-color: #901C1C;
	border-radius: 5px;
	cursor: pointer;
}

/* Carousel  */

.carousel {
	display: none;
	min-height: 200px;

	position: relative;
}

.mySlides {
	display: none;
	height: 200px;
	width: 350px;
}

.slideshow-container {
	position: relative;
	margin: 0 auto;
}

.carousel .prev,
.carousel .next {

	cursor: pointer;
	position: absolute;
	top: 100%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #901C1C;
	font-weight: bold;
	font-size: 2.25rem;
	transition: 0.6s ease;
	border: none;
	user-select: none;
	left: 0;
}

.carousel .next {
	left: unset;
	right: 0;
	border-radius: 3px 0 0 3px;
}

.carousel .prev:hover,
.carousel .prev:focus,
.carousel .next:hover,
.carousel .next:focus {
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.carousel .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.close-cursor {
	position: absolute;
	right: 45px;
	top: -88px;
	font-size: 70px;
	color: #901C1C;
}

.mySlides img {
	width: 600px;
	height: 570px;
	position: absolute;
	right: 29%;
}

.mySlides video {
	width: 600px;
	height: 570px;
	position: absolute;
	right: 29%;
	object-fit: cover;
}

.title_lightbox {
	position: relative;
	right: -422px;
	bottom: -100;
	color: #901C1C;
	bottom: -620px;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}