@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 133px;
    position: relative;
    
}

h1 {
    color: #901C1C;
    margin-right: 55px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.logo {
    height: 38px;
    margin-left: 70px;
}

.photographer_section {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
    margin-top: 50px;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    color: #D3573C;
    font-size: 27px;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
}

.photographer_section article h6 {
    color: #901C1C;
    font-size: 13px;
    margin: 2px;
}

.photographer_section article p {
    color: black;
    margin: 2px;
    font-size: 9px;
}

.photographer_section article img {
    height: 170px;
    width: 170px;
}